<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>XPath Servlets</display-name>
    <description>
    Servlets for matching XML files against XPath expressions
    </description>

    <context-param>
      <param-name>webmaster</param-name>
      <param-value>yourname@seas.upenn.edu</param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>

    <context-param>
      <param-name>BDBstore</param-name>
      <param-value>/Users/ctreatma/BerkeleyDB</param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>

    <servlet>
      <servlet-name>xpath</servlet-name>
      <servlet-class>edu.upenn.cis555.xpath.XPathServlet</servlet-class>
      <load-on-startup/>
    </servlet>

    <servlet>
      <servlet-name>handler</servlet-name>
      <servlet-class>edu.upenn.cis555.xpath.XPathHandler</servlet-class>
      <load-on-startup/>
    </servlet>

    <servlet>
      <servlet-name>login</servlet-name>
      <servlet-class>edu.upenn.cis555.xpath.LoginServlet</servlet-class>
      <load-on-startup/>
    </servlet>

    <servlet>
      <servlet-name>register</servlet-name>
      <servlet-class>edu.upenn.cis555.xpath.RegisterServlet</servlet-class>
      <load-on-startup/>
    </servlet>

    <servlet>
      <servlet-name>logout</servlet-name>
      <servlet-class>edu.upenn.cis555.xpath.LogoutServlet</servlet-class>
      <load-on-startup/>
    </servlet>

    <servlet>
      <servlet-name>showChannel</servlet-name>
      <servlet-class>edu.upenn.cis555.xpath.ShowChannelServlet</servlet-class>
      <load-on-startup/>
    </servlet>

    <servlet>
      <servlet-name>createChannel</servlet-name>
      <servlet-class>edu.upenn.cis555.xpath.CreateChannelServlet</servlet-class>
      <load-on-startup/>
    </servlet>

    <servlet>
      <servlet-name>deleteChannel</servlet-name>
      <servlet-class>edu.upenn.cis555.xpath.DeleteChannelServlet</servlet-class>
      <load-on-startup/>
    </servlet>

    <servlet>
      <servlet-name>showChannels</servlet-name>
      <servlet-class>edu.upenn.cis555.xpath.ShowChannelsServlet</servlet-class>
      <load-on-startup/>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>handler</servlet-name>
      <url-pattern>/handler</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>xpath</servlet-name>
      <url-pattern>/xpath</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>login</servlet-name>
      <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>logout</servlet-name>
      <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>register</servlet-name>
      <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>showChannel</servlet-name>
      <url-pattern>/showChannel</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>createChannel</servlet-name>
      <url-pattern>/createChannel</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>deleteChannel</servlet-name>
      <url-pattern>/deleteChannel</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>showChannels</servlet-name>
      <url-pattern>/showChannels</url-pattern>
    </servlet-mapping>

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

</web-app>
